.auth-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  
  .toggle-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .link-text {
    color: #3498db;
    cursor: pointer;
    font-weight: bold;
  }
  